<div id="login-wrapper">
    <h1 class="logo">
        ezFeed
    </h1>
    <div class="login-block">
        <h1>Login</h1>
        <div class="login-block-item">
            <span class="fa fa-user icon"></span>
            <input type="text" value="" placeholder="Email" id="email" ng-model="email"/>
        </div>
        <div class="login-block-item">
            <span class="fa fa-lock icon"></span>
            <input type="password" value="" placeholder="Password" id="password" ng-model="password"/>

        </div>
        <button ng-click="next()">Submit</button>
    </div>
</div>
