<div class="navbar navbar-default navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Post Source<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--TODO is activated or not-->
                        <li><a ng-click="authInst()"><i class="fa fa-instagram" ng-class="{'active-icon': instagramAuthenticated}"></i> Instagram</a></li>
                        <li><a ng-click=""><i class="fa fa-500px active-icon"></i> 500px</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>


    <div class="section full-width-portfolio" >
        <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
            <h1>Latest Posts</h1>
        </div>

        <ul id="gallery-list" data-animated="fadeIn">
            <li ng-repeat="feed in mergedFeeds |orderBy:'-createdTime'" >
                <img ng-src="{{feed.location}}" alt="" />
                <div class="portfolio-item-content">
                    <span class="header">{{feed.caption}}</span>
                    <p class="body"> - by {{feed.userName}}</p>
                    <p class="body"> <i class="fa fa-heart"></i>{{feed.likeCount}}</p>
                    <p class="body"> <i class="fa fa-comment-o"></i>{{feed.commentCount}}</p>
                </div>
                <a ng-click="toggleModal(feed)"><i class="more fa fa-eye"></i></a>
            </li>
        </ul>

        <modal title="Image" visible="showModal">
            <img class="img-responsive center-block" ng-src="{{individual.location}}" />
        </modal>
    </div>

</div>
