<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">

    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/app.log" filePattern="logs/app-%d{MM-dd-yyyy}.log.gz"
                     ignoreExceptions="false">
            <PatternLayout pattern="%d{yyyy-MM-dd}-%d{ABSOLUTE} %5p [%t] %c{2}:%L - %m%n"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout pattern="%d{yyyy-MM-dd}-%d{ABSOLUTE} %5p [%t] %c{2}:%L - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>